<div class="mx-auto container-padding ">
  <div class="content-center">
  <h1 class="float-right">
  </h1>
  <h1 class="text-center">
    Slaptažodžio keitimas
  </h1>
  <mat-dialog-content id="passwordReset">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="password1">Slaptažodis</label>
          <input
            matInput
            type="password"
            id="password1"
            class="form-control"
            formControlName="passwordReset"
            maxlength="30"
          />
        </div>
        <div
          [hidden]="
                    (resetPasswordForm.controls.passwordReset.valid || resetPasswordForm.controls.passwordReset.pristine) &&
                    (this.passwordRepeatReset.value === '' || this.passwordReset.value !== '')
                "
          class="alert alert-danger"
        >
          <div *ngIf="resetPasswordForm.controls.passwordReset.errors?.required">
            Slaptažodis yra privalomas
          </div>
          <div *ngIf="resetPasswordForm.controls.passwordReset.hasError('hasNumber')">
            Slaptažodis privalo turėti bent vieną skaičių
          </div>
          <div *ngIf="resetPasswordForm.controls.passwordReset.hasError('hasCapitalCase')">
            Slaptažodis privalo turėti bent vieną didžiają raidę
          </div>
          <div *ngIf="resetPasswordForm.controls.passwordReset.hasError('hasSmallCase')">
            Slaptažodis privalo turėti bent vieną mažąją raidę
          </div>
          <div *ngIf="resetPasswordForm.controls.passwordReset.hasError('hasGaps')">
            Slaptažodis negali turėti tarpų
          </div>
          <div *ngIf="resetPasswordForm.controls.passwordReset.errors?.minlength">
            Slaptažodis privalo būti ilgesnis nei 7 simboliai
          </div>
          <div *ngIf="resetPasswordForm.controls.passwordReset.errors?.maxlength">
            Slaptažodis privalo būti trumpesnis nei 30 simbolių
          </div>
        </div>
        <div class="form-group">
          <label for="password2">Pakartoti slaptažodį</label>
          <input
            matInput
            type="password"
            id="password2"
            class="form-control"
            formControlName="passwordRepeatReset"
            maxlength="30"
          />
        </div>
        <div [hidden]="validatePasswords()" class="alert alert-danger">
          <div *ngIf="this.passwordReset.value != this.passwordRepeatReset.value">
            Slaptažodžiai turi sutapti
          </div>
        </div>
        <button
          hintLabel="Max 10 characters"
          mat-stroked-button
          color="primary"
          type="submit"
          class="btn-block mt-10 sticky"
          [disabled]="!resetPasswordForm.valid"
        >
          Keisti slaptažodį
        </button>
      </form>
    </div>
  </mat-dialog-content>
  <span class="align-bottom mt-4 padding-bottom">
    <p>{{ this.serverErrorMessage }}</p>
    <mat-progress-spinner class="spinner-styler" color="primary" *ngIf="isLoading" mode="indeterminate">
    </mat-progress-spinner>

</span>
  </div>
</div>
