#site-header{
    font-family: Arial, Helvetica, sans-serif;
    background:  #5A7BB6;
}

.header{
  min-height:5vh;
  background: #6486C4;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}

.header a{
  color: white;
  text-decoration: none;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

  .container-reg-colored{
    margin: auto;
    max-width: 850px;
    min-width: 400px;
    padding: 25px;
    background: #EBEFF2;
    border-radius: 25px;
  }


  .container-text{
    color: #5471BA;
    font-size: 20px;
    text-align: justify;
  }

  .container-text2{
    background-color: #b7c3e1;
    font-size: 20px;
    color: white;
  }

  .menu-button{
    background: #6486C4;
    color: white;
    box-shadow: none;
    font-size: 18px;
  }

.spacer{
  flex: 1 1 auto;
}
#login{
  margin-right: 30px;
}
#logout{
  margin-right: 30px;
}
#paraiskos{
  margin-right: 5px;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}