.footer-custom {
  padding-left: 40px;
  background-color: #5A7BB6;
  color: white;
  text-align: left;
}

.contact-info-header{
  padding-top: 2vh;
  font-size: 20px;
  margin: 0 auto;
}

.contact-info{
  padding-top: 0.5vh;
  padding-bottom: 1.4vh;
  font-size: 16px;
  margin: 0 auto;
}
