<div class="container well">
  <h2 class="text-center">Registracija</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(); registrationForm.reset()">
    <div class="form-group">
      <label for="name">Vardas, pavardė</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="firstAndLastName"
        maxlength="80"
      />
      <div
        [hidden]="registrationForm.controls.firstAndLastName.valid || registrationForm.controls.firstAndLastName.pristine"
        class="alert alert-danger"
      >
        <div *ngIf="registrationForm.controls.firstAndLastName.errors?.required">
          Vardas ir pavardė turi būti įvesti
        </div>
      </div>
    </div>
    <div class="form-group">

      <label for="email">Telefono numeris</label>

      <label for="sel1"></label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <input
        type="phoneNumber"
        class="form-control"
        id="phoneNumber"
        formControlName="phoneNumber"
        maxlength="8"
      />
      <div
        [hidden]="registrationForm.controls.phoneNumber.valid || registrationForm.controls.phoneNumber.pristine"
        class="alert alert-danger"
      >
        <div
          *ngIf="(registrationForm.controls.phoneNumber.errors?.minlength||registrationForm.controls.phoneNumber.errors?.maxlength )&&!registrationForm.controls.phoneNumber.touched ">
          Telefono numeris privalo būti 8 skaičių ilgumo
        </div>

        <div
          *ngIf="registrationForm.controls.phoneNumber.errors?.required&&!registrationForm.controls.phoneNumber.touched ">
          Telefono numeris yra privalomas
        </div>
        <div
          *ngIf="registrationForm.controls.phoneNumber.errors?.pattern &&!registrationForm.controls.phoneNumber.touched ">
          Telefono numeris tūrėtų būti tik iš skaičių
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Elektroninis paštas</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="vardas@paštas.com"
        formControlName="emailReg"
      />
      <div
        [hidden]="registrationForm.controls.emailReg.valid || registrationForm.controls.emailReg.pristine"
        class="alert alert-danger"
      >
        <div *ngIf="registrationForm.controls.emailReg.errors?.required">
          Elektroninis paštas yra privalomas
        </div>
        <div *ngIf="registrationForm.controls.emailReg.errors?.pattern">
          Neteisingas elektroninis parašas
        </div>
      </div>
    </div>
    <label for="school">Mokymosi įstaiga, kurioje šiuo metu mokaisi</label>
    <input
      type="text"
      class="form-control"
      id="school"
      formControlName="schoolName"
      maxlength="80"
    />
    <div
      [hidden]="registrationForm.controls.schoolName.valid || registrationForm.controls.schoolName.pristine"
      class="alert alert-danger"
    >
      <div *ngIf="registrationForm.controls.schoolName.errors?.required">
        Šis laukas privalomas
      </div>
    </div>

    <label for="hobbies">Ką veiki kai nesimokai? Kokie tavo pomėgiai?</label>
    <input
      type="text"
      class="form-control"
      id="hobbies"
      formControlName="hobbies"
      maxlength="1500"
    />
    <div
      [hidden]="registrationForm.controls.hobbies.valid || registrationForm.controls.hobbies.pristine"
      class="alert alert-danger"
    >
      <div *ngIf="registrationForm.controls.hobbies.errors?.required">
        Šis laukas privalomas
      </div>
    </div>
    <label for="contract">Ar bus galimybė pasirašyti trišalę praktikos sutartį, jei ne pakomentuok plačiau</label>
    <input
      type="text"
      class="form-control"
      id="contract"
      formControlName="contract"
      maxlength="1500"
    />
    <div
      [hidden]="registrationForm.controls.contract.valid || registrationForm.controls.contract.pristine"
      class="alert alert-danger"
    >
      <div *ngIf="registrationForm.controls.contract.errors?.required">
        Šis laukas privalomas
      </div>
    </div>
    <label>Numatytas praktikos laikas darbo dienomis 14-18 val. Ar galėsi akademijai skirti tiek
      laiko?</label>


    <label for="drive">Kodėl nori dalyvauti IT akademijoje? Kas tave „veža“ joje dalyvauti?</label>
    <input
      type="text"
      class="form-control"
      id="drive"
      formControlName="drive"
      maxlength="1500"
    />
    <div
      [hidden]="registrationForm.controls.drive.valid || registrationForm.controls.drive.pristine"
      class="alert alert-danger"
    >
      <div *ngIf="registrationForm.controls.drive.errors?.required">
        Šis laukas privalomas
      </div>
    </div>
    <label for="experience">Kokios technologijos tau labiausiai patinka ir su kokiomis iš jų jau turi patirties? Jei
      teko dirbti prie konkretaus projekto, pasidalink jo nuoroda</label>
    <input
      type="text"
      class="form-control"
      id="experience"
      formControlName="experience"
      maxlength="1500"
    />
    <div
      [hidden]="registrationForm.controls.experience.valid || registrationForm.controls.experience.pristine"
      class="alert alert-danger"
    >
      <div *ngIf="registrationForm.controls.experience.errors?.required">
        Šis laukas privalomas
      </div>
    </div>
    <label for="fromWhere"> Iš kur sužinojai apie IT akademiją?</label>
    <input
      type="text"
      class="form-control"
      id="fromWhere"
      formControlName="fromWhere"
      maxlength="1500"
    />
    <div
      [hidden]="registrationForm.controls.fromWhere.valid || registrationForm.controls.fromWhere.pristine"
      class="alert alert-danger"
    >
      <div *ngIf="registrationForm.controls.fromWhere.errors?.required">
        Šis laukas privalomas
      </div>
    </div>
    <div class="form-group">
      <label for="password1">Slaptažodis</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        formControlName="passwordReg"
      />
      <div
        [hidden]="registrationForm.controls.passwordReg.valid || registrationForm.controls.passwordReg.pristine"
        class="alert alert-danger"
      >
        <div *ngIf="registrationForm.controls.passwordReg.errors?.required">
          Password is required
        </div>
        <div *ngIf="registrationForm.controls.passwordReg.errors?.minlength">
          Password needs to be longer than 3 symbols
        </div>
        <div *ngIf="registrationForm.controls.passwordReg.errors?.maxlength">
          Password needs to be less than 30 symbols
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password2">Pakartoti slaptažodį</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        formControlName="passwordRepeatReg"
      />
      <div
        [hidden]="registrationForm.controls.passwordRepeatReg.valid || registrationForm.controls.passwordRepeatReg.pristine"
        class="alert alert-danger"
      >
        <div *ngIf="registrationForm.controls.passwordRepeatReg.errors?.required">
          Password is required
        </div>
        <div *ngIf="registrationForm.controls.passwordRepeatReg.errors?.minlength">
          Password needs to be longer than 3 symbols
        </div>
        <div *ngIf="registrationForm.controls.passwordRepeatReg.errors?.maxlength">
          Password needs to be less than 30 symbols
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <button type="submit" class="btn btn-success" [disabled]="!registrationForm.valid">Register</button>
      </div>
    </div>
  </form>
</div>

