<div id="admin-application-details-wrapper">
  <mat-progress-spinner
    class="spinner-styler"
    color="primary"
    *ngIf="isLoading"
    mode="indeterminate"
  >
  </mat-progress-spinner>
  <app-application-details [hidden]="isLoading" [application]="application"></app-application-details>
  <hr>
  <div id="admin-action-container" [hidden]="isLoading">
    <div class="admin-action-header">Aplikacijos būsena</div>
    <mat-radio-group aria-label="Select an option" id="status" *ngIf="application" value='{{application.status}}' (change)="onStatusChange($event.value)">
      <mat-radio-button value="PRIIMTA" color="primary">Priimta</mat-radio-button>
      <mat-radio-button value="ATMESTA" color="primary">Atmesta</mat-radio-button>
      <mat-radio-button value="POTENCIALUS" color="primary">Potencialus kandidatas</mat-radio-button>
    </mat-radio-group>
    <button (click)="onStatusSaved(application)">Išsaugoti būseną</button>
  </div>
  <hr>
  <mat-tab-group class="tab-container">
    <mat-tab >
      <ng-template mat-tab-label>
        <div class="admin-comments-header">Komentarai
          <div class="admin-comments-header-below">matoma tik IT Akademijos administratoriams</div>
        </div>
      </ng-template>
      <div class="admin-comments" [hidden]="isLoading">
        <div class="comment-missing-remark" [hidden]="comments && comments.length > 0">Komentarų nėra...</div>
        <div class="comment" *ngFor="let comment of comments | slice:0:displayNumber">
          <app-admin-comment *ngIf="!comment.visibleToApplicant" [comment]="comment" [isEditable]="isCommentEditable(comment.authorEmail)" (commentSave)="onCommentEdited($event)" (commentDelete)="onCommentDeleted($event)"></app-admin-comment>
        </div>
        <button *ngIf="comments.length>displayNumber" (click)="increaseBy(5)" class="show-more">Rodyti daugiau</button>
        <mat-progress-spinner
          class="spinner-styler"
          color="primary"
          *ngIf="isInternalCommentLoading"
          mode="indeterminate"
        > 
        </mat-progress-spinner>
        <hr>
        <app-admin-comment-write (commentSave)="onCommentSaved($event, true)"></app-admin-comment-write>
      </div>
    </mat-tab>
    <mat-tab >
      <ng-template mat-tab-label >
        <div class="admin-comments-header">Žinutė kandidatui</div>
      </ng-template>
      <div class="admin-comments" [hidden]="isLoading">
        <div class="comment-missing-remark" [hidden]="comments && comments.length > 0">Komentarų nėra...</div>
        <div class="comment" *ngFor="let comment of comments | slice:0:displayNumber">
          <app-admin-comment *ngIf="comment.visibleToApplicant" [comment]="comment" [isEditable]="false" (commentSave)="onCommentEdited($event)" (commentDelete)="onCommentDeleted($event)"></app-admin-comment>
        </div>
        <button *ngIf="comments.length>displayNumber" (click)="increaseBy(5)" class="show-more">Rodyti daugiau</button>
        <mat-progress-spinner
          class="spinner-styler"
          color="primary"
          *ngIf="isFeedbackCommentLoading"
          mode="indeterminate"
        >
        </mat-progress-spinner>
        <hr>
        <app-admin-comment-write (commentSave)="onCommentSaved($event, false)"></app-admin-comment-write>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

