<div id="admin-application-details-wrapper">
  <mat-progress-spinner
    class="spinner-styler"
    color="primary"
    *ngIf="isLoading"
    mode="indeterminate"
  >
  </mat-progress-spinner>
  <app-application-details [hidden]="isLoading" [application]="application"></app-application-details>
  <hr>
  <div id="admin-action-container" [hidden]="isLoading">
    <div class="admin-action-header">Aplikacijos būsena</div>
    <mat-radio-group aria-label="Select an option" id="status" *ngIf="application" value='{{application.status}}' (change)="onStatusChange($event.value)">
      <mat-radio-button value="PRIIMTA" color="primary">Priimta</mat-radio-button>
      <mat-radio-button value="ATMESTA" color="primary">Atmesta</mat-radio-button>
      <mat-radio-button value="POTENCIALUS" color="primary">Potencialus kandidatas</mat-radio-button>
    </mat-radio-group>
    <button (click)="onStatusSaved(application)">Išsaugoti būseną</button>
  </div>
  <div class="admin-comments" [hidden]="isLoading">
    <div class="admin-comments-header">Komentarai<div class="admin-comments-header-below">matoma tik IT Akademijos administratoriams</div></div>
    <div class="comment-missing-remark" [hidden]="comments && comments.length > 0">Komentarų nėra...</div>
    <div class="comment" *ngFor="let comment of comments">
      <app-admin-comment *ngIf="!comment.visibleToApplicant" [comment]="comment" [isEditable]="isCommentEditable(comment.authorEmail)" (commentSave)="onCommentEdited($event)" (commentDelete)="onCommentDeleted($event)"></app-admin-comment>
    </div>
    <mat-progress-spinner
      class="spinner-styler"
      color="primary"
      *ngIf="isInternalCommentLoading"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <hr>
    <app-admin-comment-write [uploadEnabled]="false"  (commentSave)="onCommentSaved($event, true)"></app-admin-comment-write>
  </div>
  <div class="admin-comments" [hidden]="isLoading">
    <div class="admin-comments-header">Žinutė kandidatui</div>
    <div class="comment-missing-remark" [hidden]="comments && comments.length > 0">Komentarų nėra...</div>
    <div class="comment" *ngFor="let comment of comments">
      <app-admin-comment *ngIf="comment.visibleToApplicant" [comment]="comment" [isEditable]="false" (attachmentDownload)="onAttachmentDownload($event)" (commentSave)="onCommentEdited($event)" (commentDelete)="onCommentDeleted($event)"></app-admin-comment>
    </div>
    <mat-progress-spinner
      class="spinner-styler"
      color="primary"
      *ngIf="isFeedbackCommentLoading"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <hr>
    <app-admin-comment-write [uploadEnabled]="true" (commentSave)="onCommentSaved($event, false)"></app-admin-comment-write>
  </div>
</div>

