<div id="admin-application-details-wrapper">
  <mat-progress-spinner
    style="margin:0 auto;"
    color="primary"
    *ngIf="isLoading"
    mode="indeterminate"
  >
  </mat-progress-spinner>
  <app-application-details [hidden]="isLoading" [application]="application "></app-application-details>
  <div id="admin-action-container">
    <div class="admin-action-header">Aplikacijos būsena</div>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1" color="primary">Priimta</mat-radio-button>
      <mat-radio-button value="2" color="primary">Atmesta</mat-radio-button>
      <mat-radio-button value="3" color="primary">Potencialus kandidatas</mat-radio-button>
    </mat-radio-group>
    <button>Išsaugoti būseną</button>
  </div>
  <div id="admin-comments">
    <div id="admin-comments-header">Komentarai</div>
    <app-admin-comment></app-admin-comment>
    <app-admin-comment></app-admin-comment>
    <app-admin-comment></app-admin-comment>
    <hr>
    <app-admin-comment-write (commentSave)="onCommentSaved($event)"></app-admin-comment-write>
  </div>
</div>

