//for textareas
.scroll::-webkit-scrollbar {
    display: none;
  }
  .resize {
    resize:none
  }
  //to add padding to all blocks of input
  .container-colored{
    margin: auto;
    max-width: 00px;
    min-width: 100px;
    padding: 0px;
    background: rgba(235, 239, 242, 0);
    border-radius: 5px;
  }
  //to show items in one line(phone number)
  .inline{
    display : inline;
  }
  