@media only screen and (min-width: 1001px){
  @media only screen and (max-width: 1300px){
    .container-padding{
      width: 70vw;
    }
  }
  @media only screen and (min-width: 1301px){
    .container-padding{
      width: 60vw;
    }
  }
  .container-content{
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
table {
  width: 100%;
}
.status-passed{
  background-color: rgba(46,183,3,0.55);
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
@media only screen and (max-width: 1000px){
  .container-padding{
    width: 100vw;
  }
  .container-content{
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.container-content{
  padding-bottom: 2vh;
}

.container-title{
  padding-top: 5vh;
  padding-bottom: 7vh;
  text-align: center;
  font-size: 35px;
}

.container-padding{
  background: white;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  min-height: 85vh;
  box-shadow: 0px 0px 15px 0px rgba(110,110,110,0.75);
}
.seen-style{
  padding-left: 7px;
  padding-right: 1px;
}
.not-seen-style{
  padding-left: 6px
}
.status-null{
  background-color: rgba(105, 105, 105, 0.55);
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
.status-passed{
  background-color: rgba(46,183,3,0.55);
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
.status-declined{
  background-color: rgba(255, 0, 10, 0.55);
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
.status-possible{
  background-color: rgba(255, 127, 0, 0.81);
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
.seen-style{
  padding-left: 7px;
  padding-right: 1px;
}
.not-seen-style{
  padding-left: 6px
}
button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
