.container-uncolored{
  margin: auto;
  max-width: 100%;
  min-width: 100%;
  padding: 10%;
  background: rgba(235, 239, 242, 0);
  border-radius: 5px;
}
//to show items in one line(phone number)
.inline{
  display : inline;
}

.container-succ-colored{
  margin: auto;
  max-width: 450px;
  min-width: 400px;
  padding: 25px;
  background: rgba(0, 242, 123, 0.9);
  border-radius: 25px;
}
.close {
  font-size: 35px;
  bottom: 3px;
  position: relative;
}
.exit {
  outline: none;
}