<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <button type="button" class="close float-right exit" aria-label="Close" (click)="closeDialog('forgotPassword')">
    <span aria-hidden="true">&times;</span>
  </button>
  <mat-card-header>
    <h1 class="text-center">Slaptažodžio atkūrimas</h1>
  </mat-card-header>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div class="form-group">
        <label>El. paštas</label>
        <input matInput type="emailReset" class="form-control" id="emailReset" formControlName="emailReset"/>
      </div>
      <div
        [hidden]="resetForm.controls.emailReset.valid || resetForm.controls.emailReset.pristine"
        class="alert alert-danger"
      >
        <div *ngIf="resetForm.controls.emailReset.errors?.required">
          Elektroninis paštas yra privalomas
        </div>
        <div *ngIf="resetForm.controls.emailReset.errors?.pattern">
          Neteisingas elektroninis paštas
        </div>
      </div>
    </mat-card-content>
    <span class="align-bottom">
            <p [hidden]="isLoading">{{ this.serverErrorMessage }}</p>
            <button
              [hidden]="isLoading"
              mat-stroked-button
              color="primary"
              type="submit"
              class="btn-block mt-10"
              [disabled]="!resetForm.valid"
            >
                Patvirtinti
            </button>

            <mat-progress-spinner
              class="spinner-styler"
              color="primary"
              *ngIf="isLoading"
              mode="indeterminate"
            >
            </mat-progress-spinner>
        </span>
  </form>
</div>
