/* You can add global styles to this file, and also import other style files */

html, body{
  margin: 0;
  height: 100%;
}
body{
  background: #EEEEEE;
  font-family: 'Nunito', sans-serif;
}
.mat-simple-snackbar > span {
  width: 100%;
  text-align: center;
}
.spinner-styler{
  margin:0 auto;
}
