/* You can add global styles to this file, and also import other style files */

html, body{
  width:100vw;
  overflow-x: hidden;
}
body{
  position: relative;
  background: #EEEEEE;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 5px;
  background: #5A7BB6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0);
}
