.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.container-colored{
  margin: auto;
  max-width: 850px;
  min-width: 400px;
  padding: 25px;
  background: #EBEFF2;
  border-radius: 25px;
}


.container-text{
  color: #5471BA;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.container-text2{
  background-color: #b7c3e1;
  font-size: 20px;
  color: white;
  position:relative;
  left:13%;
  width:800px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
}

.prisijunk{
  text-align: center;
  font-size: 26px;
  color: #5471BA;
}
