.fit {
  min-height: 90%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
}



.container-padding{
  min-height: 95%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  padding: 40px;
  padding-left: 18%;
  padding-right: 18%;
}

img {
  width: 100%;
  height: auto;

  overflow: hidden;
}

.divider_vertical{
  border-right-color: rgba(169, 169, 169, 0.69);
  border-right-width:5px ;
}


.container-image {
  padding-bottom: 30px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.btn-xl {
  width: 50%;
  height: 45px;
  font-family: "Helvetica";
  border-radius: 5px;
  font-weight: bold;
}


