.container-uncolored{
  margin: auto;
  max-width: 350px;
  min-width: 300px;
  padding: 10px;
  background: rgba(235, 239, 242, 0);
  border-radius: 5px;
}
//to show items in one line(phone number)
.inline{
  display : inline;
}

.container-succ-colored{
  margin: auto;
  max-width: 450px;
  min-width: 400px;
  padding: 25px;
  background: rgba(0, 242, 123, 0.9);
  border-radius: 25px;
}
