<div id="student-application-details-wrapper">
  <mat-progress-spinner
    class="spinner-styler"
    color="primary"
    *ngIf="isLoading"
    mode="indeterminate"
  >
  </mat-progress-spinner>
  <app-application-details [hidden]="isLoading" [application]="application"></app-application-details>
  <div id="student-action-container" [hidden]="isLoading">
  </div>
  <div id="student-comments" [hidden]="isLoading">
    <div id="student-comments-header"[hidden]="commentsEmpty()">Komentarai</div>
    <div class="comment" *ngFor="let comment of comments ">
      <app-student-comment [comment]="comment"></app-student-comment>
    </div>
    <hr>
  </div>
</div>


